.scrittaLista{
  text-align: center;
}

.flexbox {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

.loading{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  z-index: 1
}