.Card {
    background-color:coral;
    border: 2px solid crimson;
    border-radius: 8px 8px 8px 8px;
    height: 250px;
    width: 200px;
    transition: scale 0.2s linear;
}

.Card:hover{
    scale: 1.125;
}

.alignButtons{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
